{% load blog_tags %}
{% load static %}


<html>
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link href = "{% static "css/blog.css" %}" rel = "stylesheet"/>
    </head>

    <body>
        <div id = "content">
            {% block content%}
            {% endblock %}
        </div>
        <div id = "sidebar">
            <h2> My BLog </h2>
            <p> Welcome to my Blog </p>
            <p>
            Total Posts So Far: {% total_posts %}
            </p>
            <h3> Latest Posts </h3>
            {% show_latest_posts 3 %}
        </div>
    </body>    
</html>